.App {
  text-align: center;
}
.Header {
  box-shadow: #282c34 3px 0 8px;
  min-height: 5rem;
}
.Header > h1 {
  line-height: 5rem;
}
.Main {
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
}

.card-columns {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  column-gap: 0.8rem;
  orphans: 1;
  widows: 1;
}
@media (min-width: 576px) {
  .card-columns {
      column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
      column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
      column-count: 4;
  }
}

@media (min-width: 1200px) {
  .card-columns {
      column-count: 5;
  }
}